body{
    background-color: beige;
}

.container {
    /* grid-template-colums: 1fr 200px; */
    /* grid-template-colums: 200px 200px 200px 200px; */
    display: grid;
    grid-template-columns: repeat (4, 200px);
    grid-template-rows: 200px 200px;
    /* controlling the thickness of row lines */
    /*row-gap: 1rem;
    
    controlling the thickness of column lines 
    column-gap: 2rem*/

    /* controlling the thickness of row and column lines with same values */
    /* gap: 1rem */

    /* controlling the thickness of row and column lines with different values */
    /*row-gap column-gap */
    gap: 1rem 2rem;

}


.box {
background-color: aquamarine; 
padding: 2rem;
 }
